# OS files
.DS_Store
Thumbs.db

# Node.js (если где-то используется)
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Docker
*.log
docker-compose.override.yml
docker-compose.override.yaml

# Environment variables
.env

# Cloudflare Tunnel credentials and generated configs
cloudflared/*.json
cloudflared/config.yml

# Temporary files
tmp/
*.tmp
*.swp

# VSCode settings
.vscode/

# ignore gitpmoji directory
gitpmoji

